body {
  height: 100%;
}

#search-area {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('/images/back1.jpg');
  background-repeat: no-repeat;
  background-color: #989898;
  opacity:0.4;
  transition: background-image .25s ease-in-out;
  -moz-transition: background-image .25s ease-in-out;
  -webkit-transition: background-image .25s ease-in-out;
  transition-duration: 1s;
}

.search-container {
  display: block;
  position: absolute;
  top: 26%;
  left: 16%;
}

.search-container h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 8px;
  text-shadow:2px 2px #100000;
}

.search-container form {
  height: 40px;
  width: 420px;
  background-color: rgba(0,0,0,0);
}

#container {
  /*padding: 5px;*/
  height: 65%;
  width: 35%;
  font-family: Tahoma;
  position: absolute;
  top: 100px;
  left: 720px;
  border:1px solid;
  border-color: #909090;
  border-radius:15px;
  -moz-border-radius:25px;
  box-shadow: 10px 10px 5px #888888;
  overflow:hidden;
}

.cell {
  margin-top: 2px;
  margin-left: 5px;
  height: 32%;
  width: 32%;
  float:left;
}

.cell img {
  width: 100%;
  height: 100%;
}

#text {
  height: 100%;
  width: 88%;
  font-size: 24px;
  opacity: 100%;
}

#glass {
  height: auto;
  width: 35px;
}

#glass-container {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}